@media (min-width: 768px){
  .news-input{
    width: 50%;
  }

}


@media (max-width: 768px){
  .text-class{
    font-size: 14px;
    text-align: center; 
  }

  .title-css{
    text-align: center;
  }

}